@{
    ViewBag.Title = "Hoppsan - nått gick tyvärr fel";
    Layout = "/Views/Layout/_SiriusNoMenu.cshtml";
}

<section class="centered-main-content login-form">
    <h1>Ledsen, något gick fel</h1>
    <section>
        <a href="/">Gå till förstasidan</a>
    </section>
</section>
