@model InsideReporting.Models.User.UserEditViewModel

@{
    ViewBag.Title = "Ändra inloggning";
    Layout = "/Views/Layout/_Sirius.cshtml";
}


<section class="main-content" id="main-content">
    <div class="row" style="max-width:1300px;min-height:100%;">
        <div class="col-xs-12 col-lg-8" style="min-height:100%">
            <header class="hidden-when-header">
                <h2>
                    <span id="text">Uppdatera inloggning</span>
                    <a href="/User/DeleteClientUser?userId=@Model.User.Id&clientId=@Model.ClientId" class="btn btn-default pull-right" onclick="return confirm('Är du säkler på att du vill radera användare?');">Ta bort användare <i class="fa fa-trash-o"></i></a>
                </h2>
            </header>
            <section class="widget">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    @Html.Partial("UserEdit", Model.User)
                    <input type="submit" value="Spara" class="btn btn-success" />
                }
            </section>
        </div>
    </div>
</section>

<script type="text/javascript" >
    $(function() {
        $('#client-logins-link').addClass('active');
    })
</script>



