@model dynamic

@{
    ViewBag.Title = "Google Api";
    Layout = "/Views/Layout/_SiriusNoMenu.cshtml";
}

<h2>Google Api</h2>

<a href="@Url.Action("GetCode")" class="btn btn-primary">Request Code</a>

<script type="text/javascript">
    $(document).ready(function () {
        
    });

</script>
