<p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">Med vänliga hälsningar</p>
<tr>
    <td>
        <p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">{{ConsultantName}}</p>
        <p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;"><a href="tel:{{ConsultantPhone}}" style="color: #009dd2;">{{ConsultantPhone}}</a></p>
        <p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;"><a href="mailto:{{ConsultantEmail}}" style="color: #009dd2;">{{ConsultantEmail}}</a></p>
    </td>
    <td>
        <img class="greyscale" style="width: 115px;margin-left: 50px;border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;-webkit-filter: grayscale(1);-moz-filter: grayscale(100%);filter: gray;" src="{{ConsultantImage}}">
    </td>
</tr>