<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="og:title" content="*|MC:SUBJECT|*">

<body style="-webkit-text-size-adjust: none;margin: 0;padding: 3%;font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;width: 94%;">
    <p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">Helloy {{UserName}}!</p>
    <p class="lighter-text" style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">Du har fått ett ny chat från {{From}}. <a href="{{InsideUrl}}" style="color: #009dd2;">Visa</a> direkt!</p>
    <p class="lighter-text" style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">Datum: {{Date}} </p>        
    <table style="margin: 20px 0;">
        [[ConsultantRow]]
    </table>
</body>
</html>