<html>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta property="og:title" content="*|MC:SUBJECT|*">
	
	<body style="-webkit-text-size-adjust: none;margin: 0;padding: 3%;font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;width: 94%;">
		<p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">Helloy {{UserName}}!</p>
		<p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">Här kommer några av dina Topphändelser från senaste veckan. Du är alltid välkommen att ringa mig om du har frågor eller vill boka in nästa rapportering!</p>
		<table class="large-rows" style="margin: 20px 0;width: 100%;border-top: 1px dotted #ccc;">
			[[EventRows]]
		</table>
		<p style="font-family: Helvetica,Arial,sans-serif;line-height: 150%;color: #444;font-size: 15px;margin: 0 0 10px;">För mer info och detaljer se <a href="{{InsideUrl}}" style="color: #009dd2;">Helloy Inside</a>.</p>
		<table style="margin: 20px 0;">
            [[ConsultantRow]]
		</table>
	</body>
</html>
