
<header class="header-container header-container-active" id="header-filter-container" >
    <div class="left-menu">
        <button class="toggle-sidebar btn-icon-only btn-empty"><i class="fa fa-bars" style=""></i></button>
    </div>
    <div class="middle-menu active-item menu-item">
        <span>
            @Html.ViewData.Model
        </span>
    </div>
    
</header>
