@model dynamic

@{
    ViewBag.Title = "title";

}

<span>here is the image</span>

<img src="http://localhost:58219/Track?id=209-1421763307412-561978&data=%7B%22firstName%22:%22javad%22,%22lastName%22:%22bakhshi%22,%22description%22:%22asdasdasd%22%7D" />
<h2>title</h2>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
