<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskExecutor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--local dev-->
    <!--<add name="nassaContext" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=insideV7bakcup;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />-->
    <!--azure qa-->
    <!--<add name="nassaContext" connectionString="data source=vjmlsor1ga.database.windows.net;initial catalog=insidev8_bakcup_14_12_11;user id=inside;Password=Hu29C3bREyEChAtr;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=helloyinsidetest;AccountKey=L22jjBzhAKMtdtqkTdbrdU8a3NAMyyl2eO4blUJMmGqScVs4UEO4f/hqnv+Dl+SEGg0/j3hJEr2xBv2RBXpyjw==" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=helloyinsidetest;AccountKey=L22jjBzhAKMtdtqkTdbrdU8a3NAMyyl2eO4blUJMmGqScVs4UEO4f/hqnv+Dl+SEGg0/j3hJEr2xBv2RBXpyjw==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=helloyinsidetest;AccountKey=L22jjBzhAKMtdtqkTdbrdU8a3NAMyyl2eO4blUJMmGqScVs4UEO4f/hqnv+Dl+SEGg0/j3hJEr2xBv2RBXpyjw==" />-->
    
    <!--azure production-->
    <add name="nassaContext" connectionString="data source=vjmlsor1ga.database.windows.net;initial catalog=insidev8;user id=inside;Password=Hu29C3bREyEChAtr;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=helloynassa;AccountKey=uPDd5oKNVUIz8I0FJi8ZRhmRKt9gmuaJrszG/EcumFYxkbFFwmxc+lXDMrLYkfhDiR5MNFM5AReRsmYEZZF6Jg==" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=helloynassa;AccountKey=uPDd5oKNVUIz8I0FJi8ZRhmRKt9gmuaJrszG/EcumFYxkbFFwmxc+lXDMrLYkfhDiR5MNFM5AReRsmYEZZF6Jg==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=helloynassa;AccountKey=uPDd5oKNVUIz8I0FJi8ZRhmRKt9gmuaJrszG/EcumFYxkbFFwmxc+lXDMrLYkfhDiR5MNFM5AReRsmYEZZF6Jg==" />
  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <!--<membership defaultProvider="AspNetMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="NassaUsers" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/HelloyInside" />
      </providers>
    </membership>-->
    <!--<profile defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="NassaUsers" applicationName="/HelloyInside" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="NassaUsers" applicationName="/HelloyInside" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="NewRelic.AppName" value="Helloy Task" />
    <add key="NewRelic.AgentEnabled" value="true" />
    <!--Dev Key-->
    <!--<add key="MandrillApiKey" value="OgNLCU9gVGvaOkuge_C3RQ" />-->
    <!--Production Key-->
    <add key="MandrillApiKey" value="b0zWdLF2RPD6eW_HVTayuw" />

    <add key="PwApiKey" value="uhQRKsvVj9pd6bZv8kQZFkfk4uSZ0c3jCWzSUlhtC0SBbd9kGF9ldj5vKRLK22hFXZylqYMUYpDsHNVSAMwJ" />
    <!--Dev Key-->
    <!--<add key="PwApplicationId" value="EFF4E-A84BA" />-->
    <!--Production Key-->
    <add key="PwApplicationId" value="C46F5-4C6A4" />

    <!--Dev Key-->
    <!--<add key="TwilioAccountSid" value="AC894ffaab26e5aad5ed34ca1b0afcfc53" />
    <add key="TwilioAuthenticationToken" value="50e003df31b66178dd487f896d24234f" />-->
    <!--Production Key-->
    <add key="TwilioAccountSid" value="ACf527710731ad6e3852be97b937c418b5" />
    <add key="TwilioAuthenticationToken" value="51653777a7b97d349e0da8cb966359a1" />
    
    <add key="GoogleApiKey" value="AIzaSyCdO7g2yHUU_CyufRND_MWvQmPubImrb2g" />

    <!--Dev Key-->
    <!--<add key="GoogleClientId" value="503060759676-licnlhbku5q7r8tlq4s4ddsv8l66gf7p.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="N9FzBiVC5dxgbiVTaFzfYky_" />-->

    <!--Production keys-->
    <add key="GoogleClientId" value="479151092311-qv6nvf2ud35oes0o0ui0ocuhn9g7at52.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="ZWBFh5I0m3OTbOhYZ6MOA6Nh" />
  </appSettings>
</configuration>